{% extends "base.html" %}
{% load i18n %}

{% block inlinejavascript %}
function choose_upload_method() {
  var types = ['dialout', 'upload_wav', 'wav_url', 'tts'];
  for (var type_id in types){
    var current_checked = document.getElementById('id_upload_method_' + type_id).checked;
    var type = types[type_id];
    document.getElementById(type + '_div').style.display = current_checked?'block':'none';
  }
}

function load() {
  choose_upload_method();
}

{% endblock %}

{% block dashcontent %}

<h2>
  <img src="{{ MEDIA_URL }}icons/sound_add.png"/>{% trans "Add Soundclip to library" %}</h2>
{% if invalid %}
<div class="urgentmsg" style="padding-top: 0.5em; padding-bottom: 0.5em;">
  {% trans "Form contains errors" %}
</div>
<br><br>
{% endif %}

<form method="post" enctype="multipart/form-data">
<table>
{{ form }}
</table>

<div id="dialout_div" class="hidden top_padded">
{% trans "You will prompted for dialout number on next screen" %}
</div>

<div id="upload_wav_div" class="hidden top_padded">
  {% trans "Choose WAV file:" %}
  <input type="file" name="upload_wav" size="25"/> 
  <div class="smalltext">
    {% trans "Format: 1-channel, 16-bit, 8KZ, PCM" %}
  </div>
</div>

<div id="wav_url_div" class="hidden top_padded">
  {% trans "URL to wav file:" %}
  <input type="text" name="wav_url" size="45"/>
</div>

<div id="tts_div" class="hidden top_padded">
<table>
  {{ tts_form }}
</table>  
</div>

<input type="submit" class="button" value="{% trans "Continue" %}">

</form>
{% endblock %}
