{% load i18n %} 

<head>
<title>{% block title %} Wiki PBX {% endblock %}</title>

{% block cssincludes %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles/base_outer.css"/>
{% endblock %}
<style TYPE="text/css">
{% block inlinestyles %}
{% endblock %}
</style>
{% include "header.html" %}
<script type="text/javascript">
{% block inlinejavascript %}
{% endblock %}
</script>

</head>

<body> 
<div id="wrapper">
<table cellpadding="0" width="100%" cellspacing="0" border="0" class="header">
  <tr>
    <td width="94" valign="bottom"> 
      <a href="{% url 'wikipbxweb:index' %}">
	<img  alt="WikiPBX Logo" src="{{ MEDIA_URL }}images/wikipbxlogo4.gif">
      </a>
    </td> 
    <td valign="center">      
      {% block header_area %}
      {% endblock %}
    </td>
  </tr> 
</table> 

<br>{% include "info_urgent_msgs.html" %}
{% block main_content %}
{% endblock %}
</div>

{% include "footer_outer.html" %}
