{% extends "base.html" %}
{% load i18n %}

{% block dashcontent %}
<h2>
  <img src="{{ MEDIA_URL }}icons/telephone.png"/>
  {{ _("SIP endpoints")|capfirst }}
</h2>
{% if endpoints %}

<table class="list">
<thead>
  <tr>
    <th>{{ _("endpoint")|capfirst }}</th>
    <th>{{ _("extensions")|capfirst }}</th>
    <th>{{ _("user profile")|capfirst }}</th>
    <th>{{ _("make test call")|capfirst }}</th>
    <th>{{ _("is registered")|capfirst }}</th>
    <th>{{ _("delete")|capfirst }}</th>
  </tr>
</thead>
<tbody>
{% for endpoint in endpoints %}
<tr>
  <td>
    <div title="{% trans "Edit endpoint settings." %}">
      <img src="{{ MEDIA_URL }}icons/telephone_edit.png"/>
      <a href="{% url wikipbxweb:endpoint-edit endpoint.id %}">{{ endpoint.userid }}</a>
    </div>
  </td>
  <td>
    {% if endpoint.get_extensions %}
    <div title="{% trans "Modify Extension associated with this Endpoint." %}">
      <img src="{{ MEDIA_URL }}icons/brick.png"/>
      <a href="{% url wikipbxweb:endpoint-extension-list endpoint.id %}">{{ _("extensions")|capfirst }}</a>
    </div>
    {% else %}
    <div title="{% trans "No Extension associated with this Endpoint." %}">
      <img src="{{ MEDIA_URL }}icons/brick_disabled.png"/>
      {% trans "Extsensions" %}
    </div>
    {% endif %}
  </td>
  <td>
    {% if endpoint.userprofile %}
    <img src="{{ MEDIA_URL }}icons/user_edit.png"/>{{ endpoint.userprofile.user.email }}
    {% else %}
    <img src="{{ MEDIA_URL }}icons/user_gray.png"/>{% trans "No user." %}
    {% endif %}
  </td>
  <td>
    <div title="{% trans "Place an echo test call." %}">
      <a href="{% url wikipbxweb:outgoing-to-endpoint endpoint.id %}">
	<img src="{{ MEDIA_URL }}icons/connect.png"/>
      </a>
    </div>
  </td>
  <td>
    {% if endpoint.is_registered %}
    <div title="{% trans "Endpoint is online." %}">
      <img src="{{ MEDIA_URL }}icons/status_online.png"/>
      <font size="-2">{% trans "Online" %}</font>
    </div>
    {% else %}
    <div title="{% trans "Endpoint is offline (unregistered)." %}">
      <img src="{{ MEDIA_URL }}icons/status_offline.png"/>
      <font size="-2">{% trans "Offline" %}</font>
    </div>
    {% endif %}
  </td>
  <td>
    <div title="{% trans "Delete this endpoint." %}">
      <a href="{% url wikipbxweb:endpoint-delete endpoint.id %}">
	<img src="{{ MEDIA_URL }}icons/delete.png"/>
      </a>
    </div>
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}

<div><img src="{{ MEDIA_URL }}icons/tux.png">{% trans "No endpoints defined." %}</div>
{% endif %}

{% endblock %}
