{% extends "base.html" %}
{% load i18n staticfiles %}

{% block inlinejavascript %}
function showExtra(id) {
	document.getElementById(id).style.display='block';
}
{% endblock %}

{% block dashcontent %}

<h2>
  <img src="{% static "icons/brick.png" %}"/>
  {% if endpoint %}
  {% trans "Extensions associated with SIP Endpoint" %} <a href="{% url 'wikipbxweb:endpoint-edit' endpoint.id %}">{{ endpoint }}</a>
  {% else %}
  {% trans "Extensions (Dialplan)" %}
  {% endif %}
</h2>

{% if exts %}
<table class="list">
  <thead>
    <tr>
      <th>{{ _("extension")|capfirst }}</th>
      <th>{{ _("caller ID number")|capfirst }}</th>
      <th>{{ _("authenticated")|capfirst }}</th>
      <th>{{ _("description")|capfirst }}</th>
      <th>{{ _("dialplan")|capfirst }}</th>
      <th>{{ _("dialout")|capfirst }}</th>
      <th>{{ _("top")|capfirst }}</th>
      <th>{{ _("bottom")|capfirst }}</th>
      <th>{{ _("up")|capfirst }}</th>
      <th>{{ _("down")|capfirst }}</th>
      <th>{{ _("delete")|capfirst }}</th>
    </tr>
  </thead>
  <tbody>
    {% for ext in exts %}
    <tr>
      <td>
	<img src="{% static "icons/brick_edit.png" %}"/>
	<a href="{% url 'wikipbxweb:extension-edit' ext.id %}">{{ ext.dest_num }}</a>
      </td>
      <td>
	{% if ext.callerid_num %}<a href="{% url 'wikipbxweb:extension-edit' ext.id %}">{{ ext.callerid_num }}</a>{% else %}&nbsp;{% endif %}
      </td>
      <td>
	{% if ext.auth_call %}
	<div title="{% trans "Only authenticated endpoints / parties may dial this extension." %}">
	  <img src="{% static "icons/lock.png" %}">
	</div>
	{% else %}
	<div title="{% trans "This is a public extension and no extra auth checking will be done (beyond what the SIP profile mandates)." %}">
	  <img src="{% static "icons/lock_open.png" %}">
	</div>
	{% endif %}
      </td>
      <td>
	<small>{{ ext.desc }}</small>
      </td>
      <td>
	{{ ext.get_xml_preview|escape|default:"&nbsp;" }}
      </td>
      <td>
	{% if ext.get_single_expansion %}
	<div title="{% trans "Dialout from this extension to another extension or endpoint." %}">
	  <a href="{% url 'wikipbxweb:dialout' ext.get_single_expansion %}">
	    <img src="{% static "icons/phone_go.png" %}"/>
	  </a>
	</div>
	{% else %}
	<img src="{% static "icons/phone_disabled.png" %}">
	{% endif %}
      </td>
      <td>
	<a href="{% url 'wikipbxweb:extension-priority' ext.id,"highest" %}">
	  <img src="{% static "icons/dbl_arrow_up.png" %}"/>
	</a>
      </td>
      <td>
	<a href="{% url 'wikipbxweb:extension-priority' ext.id,"lowest" %}">
	  <img src="{% static "icons/dbl_arrow_down.png" %}"/>
	</a>
      </td>
      <td>
	<a href="{% url 'wikipbxweb:extension-priority' ext.id,"raise" %}">
	  <img src="{% static "icons/arrow_up.png" %}"/>
	</a>
      </td>
      <td>
	<a href="{% url 'wikipbxweb:extension-priority' ext.id,"lower" %}">
	  <img src="{% static "icons/arrow_down.png" %}"/>
	</a>
      </td>
      <td>
	<a href="{% url 'wikipbxweb:extension-delete' ext.id %}">
	  <img src="{% static "icons/delete.png" %}"/>
	</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<div><img src="{% static "icons/tux.png" %}"/>{% trans "No extensions defined." %}</div>
{% endif %}


{% endblock %}
