<div id="footer">
  <div class="left block">
    <div>
      <a href="http://www.wikipbx.org">WikiPBX {{ wikipbx_version }}.</a>
    </div>
    <div>
      Python {{ python_version }}, Django {{ django_version }}.
    </div>
  </div>
  <div class="copyright">&copy; 2007-{% now "Y" %}
    <a style="text-decoration: none" href="http://www.branchcut.com">Branch Cut</a>
  </div>
  <div class="right block">
    Powered by <a href="http://www.freeswitch.org/">FreeSWITCH</a> &
    <a href="http://www.djangoproject.com">Django</a>
  </div>
</div>
