<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en-us" />
<meta name="ROBOTS" content="ALL" />
<meta http-equiv="imagetoolbar" content="no" />
<meta http-equiv="Expires" content="Thu, 29 Oct 1998 17:04:19 GMT">
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="keywords" content="pbx, freeswitch, gui, voip, web, webgui, trixbox, freeswitch, asterisk, gateway, endpoint, wikipbx" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles/wikipbx.css" /> 
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}styles/d2panel.css" /> 
<LINK REL="WikiPBX icon" HREF="{{ MEDIA_URL }}icons/fav.ico">
<meta name="robots" content="NONE,NOARCHIVE" />
