{% load i18n %}
<div id="products">
  <ul> 
    <li>{% trans "Open Source under Mozilla Public License" %} <a href="http://www.wikipbx.org">{% trans "(download source code)" %}</a></li>
    <li>{% trans "Manage dialplan extensions" %}</li>
    <li>{% trans "Manage SIP endpoints" %}</li>
    <li>{% trans "Manage incoming and outgoing gateways" %}</li>
    <li>{% trans "Web Dialout" %}</li>
    <li>{% trans "Call history" %}</li>
    <li>{% trans "View/Hangup live calls" %}</li>
    <li>{% trans "Manage soundclips" %}</li>
    <li>{% trans "IVR Management" %}</li>
    <li>{% trans "Configuration managed by Web UI is stored in database" %}</li>
    <li>{% trans "Configuration from database layered on top of what is in XML files" %}</li>
  </ul>
</div>
