{% extends "base.html" %}
{% load i18n staticfiles %}

{% block dashcontent %}
{% if sip_profiles %}

<table class="list">
  <thead>
    <tr>
      <th>{{ _("name")|capfirst }}</th>
      <th>{{ _("external SIP IP")|capfirst }}</th>
      <th>{{ _("SIP port")|capfirst }}</th>
      <th>{{ _("accept blind reg")|capfirst }}</th>
      <th>{{ _("auth calls")|capfirst }}</th>
      <th>{{ _("delete")|capfirst }}</th>
    </tr>
  </thead>
  <tbody>
    {% for sip_profile in sip_profiles %}
    <tr>
      <td>
	<img src="{% static "icons/group_edit.png" %}">
	<a href="{% url 'wikipbxweb:profile-edit' sip_profile.id %}">{{ sip_profile.name }}</a>
      </td>
      <td>
	{{ sip_profile.ext_sip_ip }}
      </td>
      <td>
	{{ sip_profile.sip_port }}
      </td>
      <td>
	{% ifequal 0 sip_profile.accept_blind_reg %}
	{% trans "Disabled" %}
	{% else %}
	{% trans "Enabled" %}
	{% endifequal %}
      </td>
      <td>
	{% ifequal 0 sip_profile.auth_calls %}
	{% trans "Disabled" %}
	{% else %}
	{% trans "Enabled" %}
	{% endifequal %}
      </td>
      <td>
	<a href="{% url 'wikipbxweb:profile-delete' sip_profile.id %}">
	  <img src="{% static "icons/delete.png" %}">
	</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<div><img src="{% static "icons/tux.png" %}">{% trans "No SIP Profiles defined" %}</div>

{% endif %}
{% endblock %}
