{% extends "base.html" %}
{% load i18n staticfiles %}

{% block dashcontent %}

<h2><img src="{% static "icons/email_go.png" %}">{% trans "Test Mail" %}</h2>

<div class="blurb">
  <img src="{% static "icons/tux.png" %}"/>
  {% trans "Send an outgoing test mail to see if email server settings are correctly configured." %}
</div>

<form method="post">
<table>
  {{ form }}
  <tr>
    <td></td>
    <td><input type="submit" class="button" value="{% trans "Send Test Mail" %}"/>
    </td>
  </tr>
</table>
</form>
{% endblock %}
