{% extends "base.html" %}
{% load i18n staticfiles %}

{% block dashcontent %}
{% if userprofs %}
<h2>{% blocktrans %}Users for account: {{ account }}{% endblocktrans %}</h2>
<table class="list">
  <thead>
    <tr>
      <th>{{ _("user")|capfirst }}</th>
      <th>{{ _("administrator priveleges")|capfirst }}</th>
      <th>{{ _("delete")|capfirst }}</th>
    </tr>
  </thead>
  <tbody>
    {% for userprof in userprofs %}
    <tr>
      <td>
	<img src="{% static "icons/user_edit.png" %}"/>
	<a href="{% url wikipbxweb:user-edit account.id, userprof.user.id %}">{{ userprof.user.email }}</a>
      </td>
      <td>
	{% if userprof.is_acct_admin %}
	<div title="{% trans "Account Administrator" %}">
	  <img src="{% static "icons/shield.png" %}"/>
	</div>
	{% else %}
	<div title="{% trans "End-user (no admin privileges)" %}">
	  <img src="{% static "icons/shield_grey.png" %}"/>
	</div>
	{% endif %}	
      </td>    
      <td>
	<div title="{% trans "Delete" %}">
	  <a href="{% url 'wikipbxweb:user-delete' account.id,userprof.user.id %}">
	    <img src="{% static "icons/delete.png" %}"/>
	  </a>  
	</div>
      </td>     
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div><img src="{% static "icons/tux.png" %}"/>{% trans "No users found" %}</div>
{% endif %}
{% endblock %}
